
.blog {
    background : $background-color;
}

article {
    background : $white;
    margin-bottom : 48px;
    padding: 1em;
}

.entry-content {
    display: flex;
    flex-wrap: wrap;
    p {
        width: 100%; 
    }
}

.ba-card {
    position: relative;
    width : 25%;
    margin : 0 4%;
    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        right : 0;
        text-align: center;
        padding : 8px;
        color : white;
        font-weight : bold;
        background: rgba(244,100,240,0.3);
    }
    &--bg {
        height : 400px;
    }
    &__background {
        width: 100%;
        height : 100%;
        background-size : cover;
    }
}