
.site-footer {
	background : $ba-color-1;
	color : $white;
	a {
		color : $white;
	}
}

.footer-widget {
	padding: 1em;
	border-right: 1px solid white;
	margin-right: -1px;
	& + .footer-widget {
		border-left: 1px solid white;
		border-right: 0;
	}
}

.copyright {
	text-align : center;
	font-size : $small-font-size;
}
