.DS_Store
bower_components
node_modules
npm-debug.log
/wp-config.php
/css
/wp-content/uploads
/scss/.sass-cache
index.html
index.php
readme.html
*.log.*
wp-activate.php
wp-admin
wp-*.php
wp-content/upgrade
wp-content/index.php
wp-content/plugins
wp-content/themes/index.php
wp-content/themes/twenty*
wp-includes
xmlrpc.php